In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('spam.csv',encoding='latin-1')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
data.shape

(5572, 5)

In [ ]:
# Steps I will follow to reach my end goal:
# Data Cleaning
# EDA
# Text Preprocessing    
# Model Building
# Evaluation
# Improve if needed
# Frontend 
# Deploy

In [6]:
# Data Cleaning
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
data.drop(columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4'] , inplace = True)

In [9]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
# rename col for the better understanding of data
data.rename(columns = {'v1': 'target','v2': 'text'},inplace=True)

In [11]:
data.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
# So in target as we have ham or spam we need that in numeric form so we can use label encoder to have a array of 0,1 in which 0 = ham and 1 = spam

from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()

In [16]:
data['target'] = encode.fit_transform(data['target'])

In [17]:
data.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [19]:
# checking missing values
data.isna().sum()

target    0
text      0
dtype: int64

In [23]:
# checking for duplicate values
data.duplicated().sum()

np.int64(403)

In [25]:
# as we have 403 duplicate values we will remove duplicate
data = data.drop_duplicates(keep = 'first')

In [26]:
data.duplicated().sum()

np.int64(0)

In [ ]:
# EDA